@model IEnumerable<Scheduling.Models.EF.ScheduleDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleDetailId })
        </td>
    </tr>
}

</table>
